<div class="header">
<h2 class="animal-index-title">Animals</h2>
<a class="register-animal-title" href='/animals/new'><h2>Register Animal</h2></a>
</div>

<div class="index_animal_info">
<% @animals.each do |animal| %>

  <div class="index-animal">
    <h2><%= animal.name() %></h2>
    <p>DoB: <%= animal.date_of_birth() %></p>
    <p>Type: <%= animal.type() %></p>
    <div class="vet-assigned">
    Vet: <%  if animal.vet_id != nil %>
      <%= animal.vet.name() %>
      <% else %>
         <b id="unassigned">Unassigned</b>
      <% end %>
    </div>
    <p><a href="/animals/<%= animal.id %>"><%=animal.name()%>'s Profile</a></p>
  </div>

<% end %>
</div>
