<h2 class="title">Animals</h2>

<div class="animal_info">
<% @animals.each do |animal| %>

  <div class="animal">
    <h2><%= animal.name() %></h2>
    <p>DoB: <%= animal.date_of_birth() %></p>
    <p>Type: <%= animal.type() %></p>
    Vet: <%  if animal.vet_id != nil %>
      <%= animal.vet.name() %>
      <% else %>
         <b id="unassigned">Unassigned</b>
      <% end %>
    <p><a href="/animals/<%= animal.id %>"><%=animal.name()%>'s Profile</a></p>
  </div>

<% end %>
</div>
