<h2> <%= @animal.name.capitalize %></h2>
<h3> <%= @animal.type %></h3>


<p>DoB: <%= @animal.date_of_birth() %></p>
<p>Vet: <%= @animal.vet.name() %></p>
<p>Treatment Notes: <%= @animal.treatment_notes() %></p>



<p></p>
