
<h2 class="animal-title">Animal Info</h2>

<div class="tables">

  <table>
    <thead>
      <tr>
      <th colspan="2"><%= @animal.name.capitalize %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="info">Type:</td>
        <td><%= @animal.type %></td>
      </tr>
      <tr>
        <td class="info">Date of Birth:</td>
        <td><%= @animal.date_of_birth %></td>
      </tr>
      <tr>
        <td class="info">Treatment Notes:</td>
        <td><%= @animal.treatment_notes %></td>
      </tr>
    </tbody>

  </table>


  <table class="owner-table">
    <thead class="owner-thead">
      <tr>
      <th colspan="2">Owner Information</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="owner-info">Name:</td>
        <td class="owner-td"><%= @owner.format_name %></td>
      </tr>
      <tr>
        <td class="owner-info">Phone Number:</td>
        <td class="owner-td"><%= @owner.phone_number %></td>
      </tr>
      <tr>
        <td class="owner-info">Email Address:</td>
        <td class="owner-td"><%= @owner.email_address %></td>
      </tr>
    </tbody>

  </table>


</div>
<div class="animal_info">
  <p><a class="edit-button" href="/animals/<%= @animal.id %>/edit">Edit Animal</a></p>
  <form  action="/animals/<%= @animal.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
</div>


















<!-- <h2 class="animal-title"> <%= @animal.name.capitalize %></h2>
<div class="animal_info">


  <h4>
    <%  if @animal.vet_id != nil %>
       Vet: <a href='/vets/<%= @animal.vet.id %>'><%= @animal.vet.name() %></a>
    <% else %>
       Vet: <b id="unassigned">Unassigned</b>
    <% end %>
  </h4>


  <h4>
    <%  if @animal.owner_id != nil %>
       Owner: <a href='/owners/<%= @animal.owner_id %>'><%= @animal.owner.format_name %></a>
    <% else %>
       Owner: <b id="unassigned">N/A</b>
    <% end %>
  </h4>


  <p>DoB: <%= @animal.date_of_birth() %></p>
  <p>Type: <%= @animal.type() %></p>
  <p>Treatment Notes: <%= @animal.treatment_notes() %></p>

  <p><a class="edit-button" href="/animals/<%= @animal.id %>/edit">Edit Animal</a></p>
  <form  action="/animals/<%= @animal.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>

</div> -->
