<h2 class="animal-title"> <%= @animal.name.capitalize %></h2>
<div class="animal_info">


  <h4>
    <%  if @animal.vet_id != nil %>
       Vet: <a href='/vets/<%= @animal.vet.id %>'><%= @animal.vet.name() %></a>
    <% else %>
       Vet: <b id="unassigned">Unassigned</b>
    <% end %>
  </h4>


  <h4>
    <%  if @animal.owner_id != nil %>
       Owner: <a href='/owners/<%= @animal.owner_id %>'><%= @animal.owner.format_name %></a>
    <% else %>
       Owner: <b id="unassigned">N/A</b>
    <% end %>
  </h4>


  <p>DoB: <%= @animal.date_of_birth() %></p>
  <p>Type: <%= @animal.type() %></p>
  <p>Treatment Notes: <%= @animal.treatment_notes() %></p>

  <p><a class="edit-button" href="/animals/<%= @animal.id %>/edit">Edit Animal</a></p>
  <form  action="/animals/<%= @animal.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>

</div>
