<h2 class="title">Update <%= @vet.name.capitalize %></h2>

<form action="/vets/<%= @vet.id %>" method="post" class="animal_form">

  <label for="name-field" class="form_padding">Name:</label>
  <input type="text" name="name" required id="name-field" value="<%= @vet.name %>"/>

  <% if @unassigned_animals != [] %>
    <label for="assign-animals" class="form_padding">Assign Animals (optional):</label>
    <br>
    <% @unassigned_animals.each do |animal| %>
      <label for=<%= animal.name %>><%= animal.name.capitalize %></label>
      <input type="checkbox" name="chosen_pets[]" value=<%= animal.id %>>
    <% end %>
  <% end %>

  <input type="submit" value="Update" class="form_padding">
</form>
