<div class="header">
<h2 class="vet-index-title">Veterinarians</h2>
<a class="register-vet-title" href='/vets/new'><h2>Register Vet</h2></a>
</div>

<div class="index_vet_info">
<% @vets.each do |vet| %>

  <div class="index-vet">
    <h2><%= vet.name() %></h2>
    <p>Treating:
      <ul>
       <% vet.animals.each do |animal| %>
          <li><a id="animal" href='/animals/<%= animal.id %>'><%= animal.name %></a></li>
      <% end %>
      </ul></p>
    <p><a href="/vets/<%= vet.id %>"><%= vet.name()%>'s Profile</a></p>
  </div>

<% end %>
</div>
